<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Header</title>
<!-- CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!-- /CSS -->
</head>

<body>
	<!-- This is header menu-->
	<header class="container-fluid p-0">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
			<a class="navbar-brand" href="/ListStudent" target='_parent'>NEU</a>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a id="create" class="nav-link"
						href="new" target="_parent">Create Students</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- Script -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js">
		
	</script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
		
	</script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
		
	</script>
	<!-- /Script -->
</body>

</html>